*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}

h1{
    margin-top: 10%;
    margin-left: 10%;
}

button {
    padding: 5px;
    margin: 5px;
    width: 50px;
    font-size: 25px;
    border-radius: 10px;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnA {
    margin-right: 25px;
}

.btnD {
    margin-left: 25px;
}

.controle {
    padding: 30px;
    margin-top: 10vh;
}


table{
    border-collapse: collapse;
    border: 2px solid black;
}

td{
    padding: 10px;
    
}

section {
    background-color:#AACC66;
    width: 400px;
    margin-top: 10vh;
    border: 2px solid black;
}

.pause {
    background-color: blue;
}

.vida{
    background-color: #2d8213;
    border-radius: 5px;
}
.blue{
    background-color: #f81e1e;
    border-radius: 5px;
}