*{
    margin: 0;
    padding: 0;
    font-family: 'roboto', sans-serif;
}


button {
    padding: 5px;
    margin: 5px;
    font-size: 25px;
    border-radius: 10px;
}

.centralizar {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btnA {
    margin-right: 20px;
}

.btnD {
    margin-left: 20px;
}

.controle {
    padding: 30px;
}


table{
    border-collapse: collapse;
    border: 2px solid black;
}

td{
    padding: 10px;
}

section {
    background-color: aqua;
    width: 400px;
    margin: 50px;
    border: 2px solid black;
}

.pause {
    background-color: blue;
}

.run {
    background-color: red;
}

.fishing{
    background-color: yellow;
}

.vida{
    background-color: red;
    border-radius: 5px;
}
.blue{
    background-color: blue;
    border-radius: 5px;
}